*{
    box-sizing: border-box;
    margin: 0;
}

body, html{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

thead th:nth-child(4),
tbody td:nth-child(4) {
    text-align: right;
}

body{
    background-color: rgba(249, 249, 249, 1);
    color: rgba(26, 26, 26, 1);
}

table{
    background: white;
    border: 1px solid #535353;
    box-shadow: 1px 4px 12px 0px rgba(0, 0, 0, 0.04);
    border-radius: 8px;

    overflow: hidden;
}

table td, table th {
    border-top: 1px solid rgba(240, 240, 240, 1)!important;
    outline:none;
    border-collapse: collapse;
    overflow: hidden;
}

table thead th{
    position: sticky!important;;
    background: #FFF;
    border-bottom: 1px solid rgb(230, 230, 230)!important;
    z-index: 999;
    color: #666;

}

table td {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
    color: rgba(78, 78, 78, 1);
}
.actionBar{
    justify-content: space-between;
    margin: 0;
}
.actionBar .actionBar__searchBar{
    background-color:white;
    padding: 3px 8px 3px 4px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #D0D2D3;

}

.actionBar .actionBar__seachIcon{
    width: 32px;
    height: 32px;
    color:rgba(80, 152, 223, 1);
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}
.actionBar .actionBar__seachIcon:hover{
    color:rgb(51, 117, 184);
    cursor: pointer;
}

.actionBar .actionBar__searchField{
    border:none;
    width: 60%;
}
.actionBar .actionBar__searchField:focus{
    outline: none;
}

.actionBar__rightButtonBar{
    justify-content: flex-end;
}
.actionBar__rightButtonBar button{
    height: 40px;
}


.actionBar__sortBy{
    align-items: center;
}
.actionBar__sortByField{
    width: 100%;
    background-color:white;
    padding-left: 8px;
    height: 40px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #D0D2D3;
}



